# Configuration file for rsmirror.sh
# -----------------------------------------------------------------------------
# Instructions:
#
# 1. Copy this file somewhere on your computer.
# 2. Modify the values set to "CHANGEME" below.  (This is required)
# 3. Optionally, also modify the other values, if you desire.
# 4. Invoke rsmirror.sh with -c followed by the path to this config file.
# -----------------------------------------------------------------------------

# [Required] Path to the local directory that we're backing up.
#
LOCAL_DIR=CHANGEME

# [Required] The remote backup server's host name.
#
REMOTE_HOST=CHANGEME

# [Required] Path where backups will be put on the backup server.  If this is
# a relative pathname, then it will be relative to the user's home directory
# on the *remote* system.  (E.g.: if your login is "jimmy" and
# REMOTE_DIR="backups", then the mirrored files will be put in
# ~jimmy/backups/ on the remote host.)
#
REMOTE_DIR=CHANGEME

# [Optional] Full path to rsync on this computer.
#
LOCAL_RSYNC=rsync

# [Optional] Path to rsync on the backup server.  Leave blank to use whatever
# the default may be on the remote server.
#
REMOTE_RSYNC=

# [Optional] Full path to a file containging a list of files to exclude from
# the mirror.  See the rsync man page for info about how to use the
# --exclude-from option.  Change the next variable to an empty string
# (PERSONAL_EXCLUDES="") if you don't have anything to exclude.
#
PERSONAL_EXCLUDES=

# [Optional] Full path to a directory where log files will be written by this
# script.  If set, a log file with the following name,
#     [CONFIG]-[DATE].log
# will be written in the directory, where [CONFIG] is the name of the given
# config file (via -c) minus any suffix, and [DATE] is the current date.  If
# not set, no log file will be written.  Note that you are highly advised to
# set up logging.  Possible example: "$HOME/.logs".
#
LOG_DIR=

# [Optional] Overall timeout, in seconds.  If set to a value X, rsmirror will
# quit after either the underlying rsync process has finished, or X seconds
# have elapsed, whichever comes sooner.  Set to an empty string if no timeout
# is desired.  Note: this is different from the timeout options that rsync
# provides, and does not represent any of them.
#
TIMEOUT=

# [Optional] The remote shell program and arguments to use when invoking
# rsync on the local host.  This is passed to rsync using the --rsh argument.
# Only change this value from its default (which is "ssh") if you need to
# provide arguments to the ssh command.
#
RSYNC_RSH=ssh
