# Configuration file for rsmirror                              -*- mode: sh -*-
# -----------------------------------------------------------------------------
# Instructions:
#
# 1. Copy this file somewhere on your computer.
# 2. Modify the values that say "CHANGEME" below.  (This is required)
# 3. Optionally, also modify the other values, if you desire.
# 4. Invoke rsmirror with -c followed by the path to this config file.
# -----------------------------------------------------------------------------

# [Required] Path(s) to the local directory(ies) to back up.  To put more
# than one directory here, enclose the list in double quotes and separate
# directory paths by spaces.  Note: only limited tilde (~) expansion is
# currently performed on the pathnames; specifically, tilde followed by a
# user name is not substituted, but other occurrences of tilde are.  If you
# want to use ~name, don't; use the full path to the user's directory instead.
#
LOCAL_DIRS=CHANGEME

# [Required] The remote backup server's host name.
#
REMOTE_HOST=CHANGEME

# [Required] Path where backups will be put on the backup server.  If this is
# a relative pathname, then it will be relative to the user's home directory
# on the *remote* system.  (E.g.: if your login is "jimmy" and
# REMOTE_DIR="backups", then the mirrored files will be put in
# ~jimmy/backups/ on the remote host.)  If LOCAL_DIRS contains more than one
# local source directory, then they will all end up placed under REMOTE_DIR
# on the remote host.
#
REMOTE_DIR=CHANGEME

# [Optional] Full path to rsync on this computer.
#
LOCAL_RSYNC=rsync

# [Optional] Path to rsync on the backup server.  Leave blank to use whatever
# the default may be on the remote server.
#
REMOTE_RSYNC=

# [Optional] Full path to a file containging a list of files to exclude from
# the mirror.  See the rsync man page for info about how to use the
# --exclude-from option.  Note that rsmirror already excludes some things,
# notably .Spotlight-V100 files and /private/var/vm on Mac OS X.
#
EXTRA_EXCLUDES=

# [Optional] Full path to a directory where log files will be written by this
# script.  If this variable is set, a log file with the following name,
#     [CONFIG]-[DATE:TIME].log
# will be written in the directory, where [CONFIG] is the name of the given
# config file (via -c) minus any suffix, and [DATE:TIME] is the current date
# and time.  If not set, no log file will be written.  Note that you are
# highly advised to set up logging.  Possible example: "$HOME/.logs".
#
LOG_DIR=

# [Optional] Overall timeout, in seconds.  If set to a value X, rsmirror will
# quit after either the underlying rsync process has finished, or X seconds
# have elapsed, whichever comes sooner.  Set to an empty string if no timeout
# is desired.  Note: this is different from the timeout options that rsync
# provides, and does not represent any of them.
#
TIMEOUT=

# [Optional] The remote shell program and arguments to use when invoking
# rsync on the local host.  This is passed to rsync using the --rsh argument.
# The default is "ssh".  Only set this if you need to specify a particular
# path to ssh on your system or to provide arguments to the ssh command.
#
RSYNC_SSH=

# [Optional] Set to an email address where the log should be email after
# rsmirror finishes. This will be done using the system "mail" command.
#
MAILTO=
